/* General styles */
.main {
    width: 100%;
    display: flex;
    align-items: flex-start;
    height: 100vh;
    margin: 0;
    background-color: #e8e8e8;
    font-family: Arial, sans-serif;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
    justify-content: space-between;
}

.navbar {
    display: flex;
    width: 100%;
    background-color: #007BFF;
    overflow: hidden;
    justify-content: space-around;
    align-items: center;
}

.navbar a {
    float: left;
    display: flex;
    color: white;
    text-align: center;
    padding: 30px 20px;
    text-decoration: none;
}

.buttons{
    width: 50%;
}

.navbar a:hover {
    background-color: #0056b3;
    color: white;
}

/* Styles for the search container */
.search-container {
    display: flex;
    align-items: left;
    justify-content: space-between;
    width: 40%;
    margin: 20px 0 10px 0;
    padding-left: 100px;
}

.search-bar {
    width: 85%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    font-size: 16px;
    outline: none;
}

.search-dropdown {
    height: 40px;
    padding: 10px;
    border: 1px solid #ccc;
    border-left: none;
    border-radius: 0;
    font-size: 14px;
    outline: none;
    width:60%;
}

.search-button {
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-left: none;
    border-radius: 0 5px 5px 0;
    background-color: #007BFF;
    color: white;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    width:50%;
}

.search-button:hover {
    background-color: #0056b3;
}

/* Table styles */
table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: white;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #007BFF;
    color: white;
}

/* Center video and content */
.content {
    width: 100%;
    text-align: center;
    padding: 30px 0 90px 0;
    margin-bottom: 50px;
}

video {
    padding: 20px;
    width: 60%;
    height: auto;
    margin: 0 auto;
    display: block;
}
